<div class="jumbotron">
    <div class="container text-center">
        <h2>Map</h2>
    </div>
</div>

<div class="container" ng-controller='MapController'>

    <h3>{{solution.overallCost}}</h3>
    <h3>{{forecastMetaData.leftBottomLatCoordinate}}</h3>
    <!--<ui-gmap-google-map center='map.center' zoom='map.zoom'>-->
    <!--<ui-gmap-markers models="{{places}}" coords="'self'" icon="'icon'" idKey="'idKey'"></ui-gmap-markers>-->
    <!--<ui-gmap-marker ng-repeat="s in seaports" icon="'icon'" coords="'self'" click="map2.onMarkerClick(m)" idkey="s.id">-->
    <!--<ui-gmap-marker ng-repeat="s in seaports" icon="'icon'" coords="'self'" idkey="s.id">-->
    <!--<ui-gmap-window show="m.show" ng-cloak>-->
    <!--<p>-->
    <!--231wqLatitude: {{m.coords.latitude}}<br/>-->
    <!--Longitude: {{m.coords.longitude}}<br/>-->
    <!--Last signal: <strong>{{m.lastSignal}}</strong>-->
    <!--</p>-->
    <!--</ui-gmap-window>-->
    <!--</ui-gmap-marker>-->
    <!--</ui-gmap-google-map>-->
    <ui-gmap-google-map draggable="true" center='map.center' zoom='map.zoom'>
        <ui-gmap-markers models='places' coords="'self'" icon="'icon'"></ui-gmap-markers>

        <ui-gmap-polyline path='polyline.path'
                          stroke='polyline.stroke'
                          clickable='false'
                          draggable='false'
                          editable='false'
                          geodesic='polyline.geodesic'
                          icons='polyline.icons'
                          visible='true'
                          fit='polyline.fir'
                          static='polyline.static'
                          events='polyline.events'
        >
        </ui-gmap-polyline>

        <ui-gmap-polyline path='arrow.path'
                          stroke='arrow.stroke'
                          clickable='false'
                          draggable='false'
                          editable='false'
                          geodesic='arrow.geodesic'
                          icons='arrow.icons'
                          visible='true'
                          fit='arrow.fir'
                          static='arrow.static'
                          events='arrow.events'
        >
        </ui-gmap-polyline>


    </ui-gmap-google-map>


    <hr>

    <footer>
        <p>&copy; Awesome!</p>
    </footer>
</div> <!-- /container -->
