<div class="container pad-top">
    <a ui-sref="newSeaport" class="btn-primary btn-lg nodecoration">Add New Seaport</a>
    <table class="table shipwrecktable">
        <tr>
            <td><h3>All Seaports</h3></td>
            <td></td>
        </tr>
        <tr ng-repeat="seaport in seaports">
            <td>{{seaport.name}}</td>
            <td>{{seaport.description}}</td>
            <td>{{seaport.countryIsoCode}}</td>
            <td>
                <!--<a class="btn btn-primary" ui-sref="viewShip({id:seaport.id})">View</a>-->
                <a class="btn btn-danger" ng-click="deleteSeaport(seaport)">Delete</a>
            </td>
        </tr>
    </table>
</div>
